

<div id="hobbies" class="container">
 <div class="row">
   <ul style="border:1px solid red;">
     <div class ="col">
       <div class="card" id="hobby-card-1">
         Hobby 1
         <h2>why I like:</h2>
         <img src="../resources/images/me.jpg" height="10" width="10">
       </div>
     </div>
    
     <div class ="col">
       <div class="card" id="hobby-card-2">
         Hobby 2
         <h2>why I like:</h2>
         <img src="../resources/images/me.jpg" height="10" width="10">
       </div>
     </div>
   
     <div class ="col">
       <div class="card" id="hobby-card-3">
         Hobby 3
         <h2>why I like:</h2>
         <img src="../resources/images/me.jpg" height="10" width="10">
       </div>
     </div>


   </ul>
 </div>


</div>