<!DOCTYPE html>
<html>

<head>
 <title>Page Title</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>
 <!--add links to 4 pages - Home, Hobbies, Projects, Resume. Set the attribute id="navbar" for this element.-->
 <nav class="navbar bg-light">
  <form class="container-fluid justify-content-start">
   <button class="btn btn-outline-success me-2" type="button">Home</button>
   <button class="btn btn-sm btn-outline-secondary" type="button">Hobbies</button>
   <button class="btn btn-sm btn-outline-secondary" type="button">Projects</button>
   <button class="btn btn-sm btn-outline-secondary" type="button">Resume</button>
   <img align="right" href="#">
  </form>
 </nav>


</body>

</html>