<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MY PROJECTS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../resources/css/nav-bar.css" rel="stylesheet">
  <link href="../resources/css/carousel.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <link href="../resources/css/nav-bar.css" rel="stylesheet">
</head>

<nav class="navbar navbar-dark bg-dark fixed-top" href="../views/hobbies.html">
  <div>
    <button class="btn btn-outline-success me-2" type="button" id="navbar"
      onclick="location.href='../views/index.html'">Home</button>
    <button class="btn btn-md btn-outline-secondary" type="button" id="navbar"
      onclick="location.href='../views/resume.html'">Resume</button>
    <button class="btn btn-md btn-outline-secondary" type="button" id="navbar"
      onclick="location.href='../views/projects.html'">Projects</button>
    <button class="btn btn-md btn-outline-secondary" type="button" id="navbar"
      onclick="location.href='../views/hobbies.html'">Hobbies</button>
  </div>
  <a class="navbar-brand" class="float-right">
    <img src="https://cdn-icons-png.flaticon.com/512/5024/5024509.png" alt="icon" width="30" height="30">
  </a>
</nav>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" id="carousel-item-1">
      <div class="card" style="margin:0 auto;width:40em;  background-color:burlywood">
    
        <img class="card-img-top" src="../resources/images/Screenshot 2023-02-21 at 4.34.32 PM.png" style="height:40rem"
          alt="Third slide">
          <h2> <b><u>ZELDA CLONE (C++)</u></b></h2>
        <p style="font-size:larger"><b> I consider this as my <i>magnum opus.</i> It combined everything I had learned until this point about object-oriented programming, memory allocation, and vector mathematics into one large project.</b></p>
      </div>
    </div>
    <div class="carousel-item " id="carousel-item-2">
      <div class="card" style="margin:0 auto;width:40em;   background-color:burlywood" >
        <img class="card-img-top"
          src="https://i.pinimg.com/originals/40/35/0b/40350b4b9d0652e0a75cab8ac214fcbf.jpg"
          alt="First slide" style="height:40rem">
          <h2> <b><u>Calculator App (C++/DART)</u></b></h2>
        <p style="font-size:larger"> <b>Taught me full stack development and increased my interest in learning a variety
            of different
            frontend-based languages! Combined my passion for math with a project that I could use in my daily life!</b> </p>
      </div>

    </div>
    <div class="carousel-item" id="carousel-item-3">
      <div class="card" style="margin:0 auto;width:40em;  background-color:burlywood" >
        
        <img class="card-img-top" src="../resources/images/Screenshot 2023-02-22 at 10.13.44 AM.png" alt="Second slide"
          style="height:40rem">
          <h2> <b><u>C++ terminal text editor</u></b></h2>
        <p style="font-size:larger"><b> A terminal-based text editor that works on all .txt files with line-by-line
            editing. Taught me about
            multidimensional vector usage, proper pointer safety, and gave me a cool way to type up essays!</b></p>
      </div>
    </div>

    
    
   
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

 




<footer id="footer" style="border:8px solid black">
  <a href="https://github.com/austinhutchen?tab=overview&from=2023-02-01&to=2023-02-18">
    <img style="float:left; padding: top 40px;" height=100 width=100 
      src="https://img.icons8.com/ios-filled/256/github.png" alt="github">
  </a>
  <a href="https://www.linkedin.com/in/austin-hutchen-15440a1b2/">
    <img style="float:left; padding: top 40px;" height=100 width=100
      src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="linkedin">
  </a>
  <a href="https://www.youtube.com/channel/UCXG8Zwo99WsM5BJ-8ETTSww">
    <img style="float:left; padding: top 40px;" height=100 width=100
      src="https://img.freepik.com/free-vector/youtube-player-icon-with-flat-design_23-2147838801.jpg" alt="youtube">
  </a>
</footer>