


body { 
 padding-top: 150px; 
 background-color: lightcoral;
 margin-top: 0;
 margin-right: 50;
 
}

footer{
 float:left;
 width:100%;
 background-color:burlywood;
 position: fixed;
 padding-left: auto;
 bottom: 0;

}





