


body { 
 padding-top: 150px; 
 background-color: aliceblue;

}

footer{
 float:left;
 width:100%;
 background-color:burlywood;
 position: fixed;
 padding-left: auto;
 bottom: 0;

}

about-me{
 
}




